@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;



}

body {
    width: 80%;
    margin-left: 10%;
    background-color: #250223;
    /* background-color: #12372A; */
    border-left: 0.1rem solid #F3CA52;
    border-right: 0.1rem solid #F3CA52;



}

h1 {
    font-family: poppins;
    font-size: 60px;
    font-weight: 400;
    color: white;
}

h4 {
    color: #95949C;
}

p {
    font-family: poppins;
    color: #94939B;
}

a {
    text-decoration: none;
}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}




.button-gradient-border {
    width: 400px;
    height: 70px;
    display: inline-block;
    padding: 2px; /* Adjust padding as needed */
    border-radius: 50px; /* Makes the border circular */
    background: linear-gradient(45deg, #FFBF00, #F3CA52); /* Adjust gradient colors */
}
.btn {
    width: 396px;
    height: 66px;
    color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #030014;
    border-radius: 50px; /* Makes the button circular */
    font-size: 14px; /* Adjust font size as needed */
    text-align: center;
    text-decoration: none;
}

nav {
    padding-top: 10px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.flex {
    display: flex;
}

.brand-logo {

    display: flex;

}

.brand-logo img {
    padding-right: 30px;
}

ul {
    list-style-type: none;
}

ul li a {
    font-weight: 500;
    font-family: poppins;
    color: #7A7983;
    transition: all .5s;
}

ul li a:hover {
    color: #95949C;
}

.nav-links ul li {
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
}



/* ----------------------------------------------       main     ---------------------------------------------- */




main {
    padding-top: 120px;
}




















.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.cards {
    width: 28%;
}