@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;


}

html {
    scroll-behavior: smooth;
}



body {
    width: 90%;
    margin-left: 5%;
    background-color: #14000f;
    /* background-color: #12372A; */
    border-left: 0.01rem solid #3a072d;
    border-right: 0.01px solid #3a072d;

    box-sizing: border-box;
    font-family: poppins;


}



h1 {
    font-family: poppins;
    font-size: 3.5rem;
    font-weight: 400;
    color: white;
}

h2 {
    color: white;
    font-size: 3rem;
    font-weight: 300;
}

h4 {
    color: #95949C;
}

.burger {
    display: none;
}

p {
    font-size: 1rem;
    font-family: poppins;
    color: #94939B;
}

a {
    text-decoration: none;
}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}




.button-gradient-border {
    width: inherit;
    height: inherit;
    display: inline-block;
    padding: .2rem;
    /* Adjust padding as needed */
    border-radius: 50rem;
    /* Makes the border circular */
    background: linear-gradient(45deg, #3a072d, #68435f);
    /* Adjust gradient colors */
}

.btn {
    width: inherit;
    height: inherit;
    color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem 2rem;
    background-color: #14000f;
    border-radius: 50rem;
    /* Makes the button circular */
    font-size: 1.1rem;
    /* Adjust font size as needed */
    text-align: center;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 0, 31);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.3rem 4%;
    z-index: 1000;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: -1;


}


.icons {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 4%;
}

.navbar {
    width: 70%;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-family: poppins;
}




header a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    transition: all .5s;
}

header a:hover {
    color: #7A7983;
}

.login-btn {
    padding: 0 1.2rem;
}

.trial-btn {
    background-color: #3a072d;
    border-radius: 3rem;

    padding: 1rem 2rem;

}

.trial-btn:hover {

    background-color: #68435f;
    color: white;
    border: none;
}


.nav-links a {

    padding: 0 1rem;
}


#check {
    display: none;
}



.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


ul {
    margin-top: .8rem;
    margin-left: 2rem;
    list-style-type: none;
}

ul li a {
    font-weight: 500;
    font-family: poppins;
    color: #7A7983;
    transition: all .5s;
}

ul li a:hover {
    color: #ffffff;
}

.nav-links ul li {
    padding-right: 2rem;
    display: flex;
    justify-content: space-evenly;
}



/* ----------------------------------------------       main     ---------------------------------------------- */




main {
    width: 100%;
    padding-top: 10rem;
}

.textcontainer-hero {
    max-width: 55rem;
    display: flex;

    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.textcontainer {
    width: 100%;
    display: flex;

    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.textcontainer-hero p {
    max-width: 30rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
    align-items: center;

}

#home {
    width: 100%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textcontainer h2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 5rem;
    padding-bottom: 1rem;

    font-weight: 500;
}

.textcontainer p {
    max-width: 30rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.2rem;

}

.btn2 {
    padding: 1rem 3rem;
    margin: 0 auto;
    background-color: #3a072d;
    color: white !important;
    border-radius: 50rem;
    margin-bottom: 5rem;
    margin-top: 1.5rem;
}



.clients-data {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 8rem;
    justify-content: center;
}

.clients-data h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.logo-container {

    display: flex;
    min-width: 100%;
    height: 5rem;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1.8rem auto;
    justify-content: space-around;
    margin-top: 3.5rem;
    margin-bottom: 8rem;
}

.logo-container img {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    filter: invert(50%);

}

.logo-container img:hover {
    filter: invert(0);

}



.second-half {
    margin-left: -5%;
    z-index: 5;
    min-width: 110%;
    background-color: #1F001F;
    height: 5rem;
    position: sticky;
    top: 0;
}

.video {
    width: 100%;
    height: 100vh;
    background: url(assets/Screenshot\ \(393\).png);
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.video-btn {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-top: 20%;
    background-color: #7A7983;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid-play-btn img {
    width: 5rem;

    height: 4rem;
    margin-left: 1rem;
    margin-top: .5rem;
    transition: all 1s;

}

.vid-play-btn img:hover {
    transform: scale(1.5);
}


/* ------------------------------------    feature     ---------------------------- */


.feature {
    margin-bottom: 12rem;
}

.features-icon {
    width: 3.7rem;
    height: 3.7rem;
    background: linear-gradient(270deg, #420a42, rgb(97, 27, 97));
    border-radius: .6rem;
    margin-bottom: .7rem !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.testimonial-cards,
.cards {
    padding: 2.5rem 2.1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.testimonial-cards:hover,
.cards:hover {
    background: linear-gradient(270deg, #25072c, #25072c);
    border: .1rem solid #d1009d;

}

.cards-container .row {
    margin: 1.8rem 0;
    display: flex;
    flex-wrap: wrap;
}




.cards {
    width: 33.3%;
    display: flex;
    flex-wrap: wrap;
}

.testimonial-cards {
    width: 25%;
    display: flex;
    flex-wrap: wrap;

}




.services {
    margin-bottom: 12rem;
}



.swap-button-container {
    display: flex;
    flex-direction: row;
    border: .1rem solid #d1009d;
    padding: .2rem;
    border-radius: 3.1rem;
    margin: 2.5rem 0;
}

.swap-button-container a {

    padding: .9rem .9rem;
    background-color: purple;
}


/* -----------------------------------         pricing        ----------------------- */

.pricing-section {
    width: 100%;
    margin-bottom: 9.3rem;
}

.pricing-card,
.pricing-card-mid {
    width: 30%;
    height: auto;
    padding: 1.8rem;
    border-radius: 3.1rem;
    height: 25rem;
    flex-wrap: wrap;
    border: .1rem solid white;
}


hr {
    background-color: #420a42 !important;
}


.pricing-card-mid {
    margin: .6rem 1.8rem;
    margin-top: -1.25rem !important;
    background-color: #25072c;

    border-radius: 3.1rem;

}

.pricing-card:hover {
    background: linear-gradient(270deg, #25072c, #25072c);
    border: .1rem solid #d1009d;

}


.pricing-card-mid:hover {

    background: linear-gradient(270deg, #25072c, #25072c);
    border: .1rem solid #d1009d;
}

.pricing-card ul li,
.pricing-card-mid ul li {
    text-align: left;
    color: #F6F6F6;
    margin-top: .6rem;
}

.pricing-button {

    background-color: #95949C;
    color: #14000f;
    padding: .6rem 1.8rem;

    border-radius: 1.8rem;
    margin-top: 6.2rem !important;
    text-align: center;
    margin: 0 18%;
}

.pricing-button:hover {

    background-color: transparent;
    color: white;
    border: .1rem solid white;
}




.textarea {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

.last-list {
    margin-bottom: 3.1rem !important;
}

/* -------------------------------------        get-started-section     -------------------------- */


.get-started-section {
    margin: 3.1rem 1.8rem;
    background-color: #68435f15;
    border-radius: 1.2rem;
    box-shadow: 0 0 .6rem .2rem #331b2d;

}

.get-started-section .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-area {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-area a {
    padding: .6rem 1.2rem;
    border-radius: 3.1rem;
    text-align: center;
    margin-top: 3.1rem;
    background-color: #14000f;
    color: white;
}

.text-area a:hover {

    background-color: #3a072d;
    color: white;
    border: .2rem dashed #14000f;
}

.text-area h2 {
    width: 30rem;
    font-weight: 700;
}

.gif-area {
    width: 30%;
    display: flex;
}

.gif-area img {
    margin: 10%;
    margin-bottom: 6.2rem;

}


footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: #68435f15;
    margin-left: -6%;
    z-index: 5;
    min-width: 111.5%;
    padding: 4.3rem;
    box-shadow: .3rem .2rem 1.2rem #8d37a165;
}

.footer-links-outer {
    display: flex;
    flex-wrap: wrap;
    margin: 3.1rem 0;
    width: 100%;

}

.footer-logo {
    width: 40%;
}

.footer-links-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top;
}


.footer-links h4 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    text-decoration: underline;
    color: white;
}

.footer-links ul {
    margin: 0;
}

.newsletter-container {
    width: 100%;
    margin: 3.1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: .1rem solid #68435f !important;
    border-bottom: .1rem solid #68435f !important;
}

.news-text-area h4 {
    font-size: 2rem;
    color: white;

}

.news-form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 2.5rem 0;



}

.news-form-container input {
    border-radius: 3.1rem;
    color: white;
    outline: none;
    border: none;
    padding: .4rem .9rem;
    z-index: 1;
    height: 2rem;
}

.news-form-container a {
    width: inherit;
    height: 2rem;
    background-color: #8e37a1 !important;
    position: absolute;
    left: 10rem;
    font-size: 1rem;
    border: none;
    color: white;
    padding: .1rem;
    padding-left: 2.8rem;
    padding-right: .9rem;

}

.copyright-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.copyleft-side {
    width: 50%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

}

.copyleft-side a {
    color: gray;

}

.copyleft-side a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: .9rem;
}

.copyright-area {
    margin-right: 1.2rem;
}

@media (max-width:992px) {

    header a {
        font-size: 1.4rem;
    }


}

/* ++++++++++++++++++++++++++++++++            TAB view        +++++++++++++++++++++ */

@media (max-width:768px) {

    .icons {
        display: inline-flex;
    }


    #check:checked~.icons #menu-icon {

        display: none;
    }

    .icons #close-icon {

        display: none;
    }

    #check:checked~.icons #close-icon {

        display: block;
    }

    header a {
        font-size: 1rem;
    }


    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        display: flex;
        justify-content: center;
        backdrop-filter: blur(5rem);
        overflow: hidden;

        transition: all .5s ease-in-out;
    }

    .login-link {
        display: none;
    }


    #check:checked~.navbar {

        height: 15rem;

    }

    .navbar a {
        color: white;
        font-weight: 300;
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem auto;
        text-align: center;
    }

    .gif-area {
        display: none;

    }

    .footer-links-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 75%;
    }

    .footer-logo {
        width: 25%;
    }

    .footer-links li,
    .footer-links h4 {
        margin-right: 5rem;
        text-align: left;
    }

    .footer-links {
        width: 25%;
    }


    .testimonial-cards,
    .cards {
        text-align: left;
        padding: 1rem;
    }

    .testimonial-cards h4 {

        margin-bottom: 1rem;
    }

    .pricing-button {
        width: auto !important;
        font-size: 10px;
    }

    .pricing-card,
    .pricing-card-mid,
    .pricing-card ul {
        padding: 0;
    }

    .pricing-card,
    .pricing-card-mid {
        padding: 1rem .5rem;
        height: auto !important;
    }

    p,
    li {
        font-size: .7rem;
    }

    .pricing-card li,
    .pricing-card-mid li {
        text-align: left;
    }

    .news-form-container a,
    .news-form-container input {
        height: 2rem;

    }

    ul {
        padding: 0;
        margin: 0;
    }

    .footer-links h4 {
        margin-bottom: .5rem;
        text-decoration: underline;

    }

    .pricing-button {
        padding: .5rem 1rem;
        margin: 0;
        margin-bottom: .5rem;
    }

    .footer-links-container {
        width: 65%;
        margin-left: 10%;
    }

    .newsletter-container {
        display: flex;
        justify-content: space-around;
    }

    .news-text-area {

        margin-left: -3rem;
    }

    .news-form-container {
        margin-left: -10rem !important;
    }

    .copyleft-side {
        width: 70%;
    }
}


/* +++++++++++++++++++++++++++++++++           MOBILE VIEW             ++++++++++++++++++++++++++ */



@media (max-width:425px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .textcontainer-hero h1 {
        width: 80%;
        font-size: 2.5rem;
        line-height: 2.1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }

    .textcontainer h2 {
        width: 90%;
        font-size: 1.5rem;
        line-height: 2rem;

        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .textcontainer p {
        width: 80%;

    }

    .textcontainer-hero p {
        font-size: 1rem;
        width: 80%;
    }

    .button-gradient-border {
        width: 100%;
    }

    .btn-container {
        width: 100%;

    }

    .btn {
        font-size: .9rem;
        width: 100%;
    }

    main {
        width: 100%;
        overflow: hidden;
        margin-top: -2rem;
    }

    .button-gradient-border {
        width: auto;
    }



    .get-started-section h2 {
        font-size: 1rem !important;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .logo-container img {
        width: 60%;
    }

    .cards-container .row {
        margin: 1.8rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;
        width: 100%;


    }

    .cards-container .row .cards {
        width: 80%;
    }

    .testimonial-cards,
    .cards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background: linear-gradient(270deg, #25072c, #25072c);
        border: .1rem solid #d1009d;
        margin: 1rem 0;
        border-radius: 10px;
    }

    #price .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .pricing-card,
    .pricing-card-mid {
        width: 80%;
        margin-top: 2rem;
    }

    .pricing-card-mid {
        margin-top: 2rem !important;
    }

    .get-started-section .row {
        padding: 1rem 0 !important;
        text-align: center;

    }

    .footer-links-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .footer-logo {
        width: 15rem;

    }

    .footer-links-outer img {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }



    .footer-links-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .newsletter-container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

    }

    .news-text-area h4{
        font-size: 1rem;
    }

















}

@media (max-width:320px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .button-gradient-border {
        width: auto;
    }

    h1 {
        width: 80%;
        font-size: 1.8rem;
        margin-top: .2rem;
    }

    .textcontainer-hero p {
        font-size: .8rem;
        width: 80%;
    }

    .button-gradient-border {
        width: 100%;
    }

    .btn-container {
        width: 100%;

    }

    .btn {
        font-size: .6rem;
        width: 100%;
        text-align: left;
    }

    .btn img {
        padding: 0 !important;
        margin: 0 !important;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .logo-container img {
        width: 60%;
    }

    .cards-container .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}