@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;




}

body {
    width: 90%;
    margin-left: 5%;
    background-color: #14000f;
    /* background-color: #12372A; */
    border-left: 0.1px solid #3a072d;
    border-right: .1px solid #3a072d;

box-sizing: border-box;
font-family: poppins;

}

h1 {
    font-family: poppins;
    font-size: 60px;
    font-weight: 400;
    color: white;
}

h4 {
    color: #95949C;
}

p {
    font-family: poppins;
    color: #94939B;
}

a {
    text-decoration: none;
}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}




.button-gradient-border {
    width: inherit;
    height: inherit;
    display: inline-block;
    padding: 2px; /* Adjust padding as needed */
    border-radius: 50px; /* Makes the border circular */
    background: linear-gradient(45deg, #3a072d, #68435f); /* Adjust gradient colors */
}
.btn {
    width: inherit;
    height: inherit;
    color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #14000f;
    border-radius: 50px; /* Makes the button circular */
    font-size: 14px; /* Adjust font size as needed */
    text-align: center;
    text-decoration: none;
}

nav {
    padding-top: 30px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.flex {
    display: flex;
}

.brand-links{
    display: flex;
    width: 60%;
}

.extra-nav-links{
    display: flex;
    width: 40%;

}

.navextra{
    width: 100%;
    display: flex;
    justify-content: end;


}

.login-btn{
    padding: 10px 20px;
    
}

.start-free-trial1{
    justify-content: end;
    background-color: #ac6199;
    color: white;
    padding: 10px 50px;
    
    margin-right: 10px;
    border-radius: 20px;
    transition: all 2s ease;

}
.start-free-trial1:hover{

    animation: shakes 2s forwards;
}

@keyframes shakes {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}

.brand-logo {

    display: flex;

}

.brand-logo img {
    padding-right: 30px;
}

ul {
    list-style-type: none;
}

ul li a {
    font-weight: 500;
    font-family: poppins;
    color: #7A7983;
    transition: all .5s;
}

ul li a:hover {
    color: #ffffff;
}

.nav-links ul li {
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
}



/* ----------------------------------------------       main     ---------------------------------------------- */




main {
    padding-top: 40px;
}

.textcontainer{
    width: 600px;
    display: flex;
    
    text-align: center;
    flex-direction: column;
    justify-content: center;
}


.main-container{
    display: flex;
    justify-content: center;
}

.textcontainer h1{
    line-height: 80px;
    padding-bottom: 20px;
}
.textcontainer p{
    width: 400px;
    margin-left: 100px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.btn2{
    padding: 15px 25px;
    margin: 0 auto;
    background-color: #3a072d;
    color: white !important;
    border-radius: 50px;
    margin-bottom: 75px;
    margin-top: 20px;
}    



.clients-data h1    {
    display: flex;
    justify-content: space-around;
    text-align: center;
}










.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.cards {
    width: 28%;
}