@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;




}

body {
    width: 90%;
    margin-left: 5%;
    background-color: #14000f;
    /* background-color: #12372A; */
    border-left: 0.1px solid #3a072d;
    border-right: .1px solid #3a072d;

    box-sizing: border-box;
    font-family: poppins;

}

h1 {
    font-family: poppins;
    font-size: 56px;
    font-weight: 400;
    color: white;
}

h2 {
    color: white;
    font-size: 3rem;
    font-weight: 300;
}

h4 {
    color: #95949C;
}

p {
    font-family: poppins;
    color: #94939B;
}

a {
    text-decoration: none;
}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}




.button-gradient-border {
    width: inherit;
    height: inherit;
    display: inline-block;
    padding: 2px;
    /* Adjust padding as needed */
    border-radius: 50px;
    /* Makes the border circular */
    background: linear-gradient(45deg, #3a072d, #68435f);
    /* Adjust gradient colors */
}

.btn {
    width: inherit;
    height: inherit;
    color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #14000f;
    border-radius: 50px;
    /* Makes the button circular */
    font-size: 14px;
    /* Adjust font size as needed */
    text-align: center;
    text-decoration: none;
}

nav {
    width: 90%;
    padding-top: 30px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10000;
}

.flex {
    display: flex;
}

.brand-links {
    display: flex;
    width: 60%;
}

.extra-nav-links {
    display: flex;
    width: 40%;

}

.navextra {
    width: 100%;
    display: flex;
    justify-content: end;


}

.login-btn {
    padding: 10px 20px;

}

.start-free-trial1 {
    justify-content: end;
    background-color: #ac6199;
    color: white;
    padding: 10px 50px;

    margin-right: 10px;
    border-radius: 20px;
    transition: all 2s ease;

}

.start-free-trial1:hover {

    animation: shakes 2s forwards;
}

@keyframes shakes {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}

.brand-logo {

    display: flex;

}

.brand-logo img {
    padding-right: 30px;
}

ul {
    list-style-type: none;
}

ul li a {
    font-weight: 500;
    font-family: poppins;
    color: #7A7983;
    transition: all .5s;
}

ul li a:hover {
    color: #ffffff;
}

.nav-links ul li {
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;
}



/* ----------------------------------------------       main     ---------------------------------------------- */




main {
    padding-top: 100px;
}

.textcontainer-hero p {
    width: 400px;
    margin-left: 100px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.textcontainer-hero {
    width: 600px;
    display: flex;

    text-align: center;
    flex-direction: column;
    justify-content: center;

}

.textcontainer {
    width: 900px;
    display: flex;

    text-align: center;
    flex-direction: column;
    justify-content: center;
}


.main-container {
    display: flex;
    justify-content: center;
}

.textcontainer h2 {
    line-height: 80px;
    padding-bottom: 20px;
    font-weight: 500;
}

.textcontainer p {
    width: 550px;
    margin-left: 150px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;

}

.btn2 {
    padding: 15px 25px;
    margin: 0 auto;
    background-color: #3a072d;
    color: white !important;
    border-radius: 50px;
    margin-bottom: 75px;
    margin-top: 20px;
}



.clients-data {
    margin-top: 100px;
}

.clients-data h4 {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.logo-container {

    display: flex;
    width: 100%px;
    height: 70px;
    flex-direction: row;
    margin: 20px 0;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 200px;
}

.logo-container img {
    filter: invert(50%);

}

.logo-container img:hover {
    filter: invert(0);

}



.second-half {
    margin-left: -10%;
    max-width: 120%;
    height: 80px;
    z-index: 5;
    background-color: #14000f;
    position: sticky;
    top: 0;
    min-width: 80%;
}


/* ------------------------------------    feature     ---------------------------- */


.feature {
    margin-bottom: 200px;
}

.features-icon {
    width: 60px;
    height: 60px;
    background: linear-gradient(270deg, #420a42, rgb(97, 27, 97));
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}


.cards {
    padding: 40px 35px;
}

.cards:hover {
    background: linear-gradient(270deg, #25072c, #25072c);
    border: 1px solid #d1009d;

}

.cards-container .row {
    margin: 30px 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.cards {
    width: 33.5%;
}




.services {
    margin-bottom: 200px;
}



.swap-button-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #d1009d;
    padding: 4px;
    border-radius: 50px;
    margin: 40px 0;
}

.swap-button-container a {

    padding: 15px 15px;
    background-color: purple;
}


/* -----------------------------------         pricing        ----------------------- */

.pricing-section {
    margin-bottom: 150px;
}

.pricing-card,
.pricing-card-mid {
    padding: 30px;
    background-color: #3a072d;
    border-radius: 50px;
    height: 400px;
}


hr {
    background-color: #420a42;
}

.pricing-card {
    margin: 0px 10px;
}

.pricing-card-mid {
    margin: 10px 30px;
    background-color: #25072c;

    border-radius: 50px;

}

.pricing-card:hover {
    border: 1px solid #8e37a1;

}


.pricing-card-mid:hover {

    border: 1px solid #3a072d;
}

.pricing-card ul li,
.pricing-card-mid ul li {
    color: #F6F6F6;
    margin-top: 10px;
}

.pricing-button {

    background-color: #95949C;
    padding: 10px 30px;
    
    border-radius: 50px;
    margin-top: 100px !important;
}

.textarea {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}